<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/register.css') }}">
    <title>Register</title>
</head>

<body>

    <div>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            {{ form.username }}
            {{ form.password }}
            {{ form.email }}
            {{ form.phoneNumber }}
            {{ form.submit }}
        </form>
        <a href="{{ url_for('login') }}">Already have an account? Log In</a>
        <div>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}

            {% for category, message in messages %}
            <br></br>
            <li class="{{ category }}">{{ message }}</li>
            {% endfor %}

            {% endif %}
            {% endwith %}
        </div>
    </div>
</body>

</html>